/* halloween (archive) 

.text-halloween {
	color: #e4d1ba;
	margin: auto;
	max-width: 100%;
}
.text-halloween h1, .text-halloween p {
	text-align: center;
}
@media (prefers-color-scheme: dark) {
	.logo-text {
		fill: #08FF00!important
	}

	.driving-bar-solid {
		fill: #FFF200!important
	}
a {
	color: #e4d1ba;
}
} */

/* christmas (archive)
.text-christmas {
	margin: auto;
	max-width: 100%;
}
.text-christmas h1, .text-christmas p {
	color: #fff;
	text-align: center;
}
.driving-bar-solid {
		fill: #008200!important
}

a {
	color: #008200;
}


@media (prefers-color-scheme: dark) {
	.driving-bar-solid {
		fill: #FF00B6!important
	}
}
*/